html{
    --white:#fff;
    --primary-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --primary-shadow-hover: 0 7px 7px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --border-color: #efefef;
    --mygreen:#3dcf8e;
}